* {
margin: 0;
padding: 0;

}

body {
font-family: font1;
font-size: larger;
}


@font-face {
    font-family: font1 ;
    src: url(fonts/font1.ttf);
}




#title {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}



main {
    grid-area: mn;
}


header {
    background-color: #fff0da;
    border: 1px solid #000;
    grid-area: hd;
    width: auto;
    padding: 10px;
}

.navbar {
    background-color: #fff6da;
    border: 1px solid #000;
    grid-area: nav;
    padding-top: 20px;
    padding-left: 10px;

}

nav li {
    margin-bottom: 30px;

}

nav li a {
    text-decoration: none;
    list-style: none;
}

li {
    list-style: none;
    
}


.card-grids {
    border: 1px solid #000;

}

.card1 {
    background-color: #c29f9f;
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;


}

.card2 {
    background-color: #c29f9f;
    text-align: center;
    padding: 10px;

 
}

.card3 {
    background-color: #c29f9f;
    padding: 10px;
    text-align: center;
    



}

.card-img {
    border: 2px dashed #000;
    margin: 10px;
    width: 60%;
    padding: 2px;
}


.layout {
    display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
           "hd hd"
           "nav nav"
           "mn mn"
           "ft ft";
    }


.card-grids {
    display: grid;
    grid-template-columns: 1fr;
   
}

footer {
    background-color: #fff6da;
    border: 1px solid #000;
    grid-area: ft;
    text-align: center;
    font-style: italic;
    padding: 10px;
    font-size: 15px;
}


@media (min-width:768px) {
    .layout {
    display: grid;
    grid-template-columns: 220px 1fr ;
    grid-template-areas: 
       "hd hd"
       "nav mn"
       "ft ft";
    }
    .card-grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    

           
    }
}