* {
margin: 0;
padding: 0;
}

main {
    grid-area: mn;
}


header {
    background-color: #c0daf3;
    border: 1px solid #000;
    grid-area: hd;
}

.navbar {
     background-color: #c0daf3;
    border: 1px solid #000;
    grid-area: nav;
}

nav li a {
    text-decoration: none;
}

.card-grids {
    border: 1px solid #000;

}

.card1 {
    background-color: #d47f7f;
    grid-column: 1 / -1;

}

.card2 {
    background-color: #d47f7f;
   
}

.card3 {
        background-color: #d47f7f;
}

.card-img {
    border: 1px solid #000;
    margin: 10px;
    width: 70%;
}


.layout {
    display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
           "hd hd"
           "nav nav"
           "mn mn"
           "ft ft";
    }


.card-grids {
      display: grid;
        grid-template-columns: 1fr;
   
}

footer {
    background-color: #c0daf3;
    border: 1px solid #000;
    grid-area: ft;
}


@media (min-width:768px) {
    .layout {
    display: grid;
    grid-template-columns: 220px 1fr ;
    grid-template-areas: 
       "hd hd"
       "nav mn"
       "ft ft";
    }
    .card-grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    

           
    }
}